@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montseerat", sans-serif;
}
.center {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}

header{
  background-color: #266AE7;
  padding: 20px 0;
}
/*Essa sera a propriedade da imagem*/
.logo h2{
  font-weight: normal;
  font-size: 18px;
}
.logo{
  color: aliceblue;
}
.menu{
  width: 80%;
  text-align: left;
}
/*Classe dos link em analise*/
.menu a{
  color: black;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  margin-left: 20px;
  transition: 750ms;
}
.menu a:hover{
  color: aqua;
}

/*Classe do botão*/

.btn{
  background-image: url("../images/arrow-left-solid.svg");
  color-interpolation-filters: linearRGB;
  background-repeat: no-repeat;
  background-color:white;
  padding: 20px 20px;
  border-radius: 40px;
  border: 0;
  cursor: pointer;
}
.menu .btn-menu{
  background-color: aliceblue;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 40px;
}

.menu .btn-menu:hover{
  background-color: rgb(52, 175, 175);
  color: black;
}

/*<--- SECTION MAIN ---> */

section.main{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #F5F5F5;
}

/*centro ou imagem no centro EM ANALISE*/

.main__cta{
  width: 100%;
  margin:60px;
  text-align: center;
}

.main__cta_h2{
  color: #F5F5F5;
font-size: 40px;
}
.main__cta p{
  word-break: inherit;
  color: gray;
  font-size: 18px;
  margin: 10px 0;

}


/*FIM DE SEÇÃO EM ANALISE*/

/*SECÇÃO DE BOTÕES*/
.flat{
  width: 100%;
  text-align: center;
}
.flat p{
  font-size: 305%;
}
.flat button{
  background-color: aliceblue;
  display: inline-block;
  padding: 30px 100px;
  width: 50%;
  border-radius: 200px;
  margin:15px;
  border: 0;
  cursor: pointer;
}


.diferenciais{
  display: flex;
  background-color: #266AE7;
  width: 100%;
  margin:60px;
  text-align: center;
}
.puts{
  width: 100%;
  text-align: center;
}
.puts p{
  font-size: 40px;
}
.puts button{
  background-color: aliceblue;
  display: inline-block;
  padding: 15%;
  margin:15px;
  border-radius: 300px;
  border: 0;
  cursor: pointer;
}